@using  byteforzaFinalProject.DTO;
@{
    ViewData["Title"] = "CandidateDetail";
    var data = ViewData["data"] as ShowCandidateDetails;
    var candidateProfile = ViewData["candidate"] as List<CandidateProfileData>;
    var graph = ViewData["graph"] as List<int> ;
    var job = ViewData["job"] as List<JobDTO>;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/byteforzaFinalProject.styles.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>  
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/font-awesome.min.css">
    <title>test</title>
    <style>
        .table {
            align-items: center;
        }

            .table > tbody > tr > td > button {
                height: auto;
                width: auto;
                padding: 3px 3px 3px 3px;
                margin: 10px;
                font-size: smaller;
            }

            .table > tbody > tr > td {
                vertical-align: middle;
                padding-left: 5px;
                padding-right: 5px;
            }

        .panel-heading {
            padding: 1px 1px 1px 1px;
        }

            .panel-heading > button {
                height: auto;
                width: auto;
                padding: 3px 3px 3px 3px;
                margin: 10px;
                font-size: small;
            }

            .panel-heading > p {
                display: inline-block;
                height: auto;
                width: auto;
                padding: 0%;
                margin: 10px;
            }

        .table-head-section {
            background-color: #ffffff;
            padding: 0%;
            align-items: center;
        }

        .card-block {
            display: grid;
            width: 50%;
            grid-template-columns: repeat(3, 1fr);
        }

        .card-bar {
            background-color: #ffffff;
            padding-top: 50px;
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .bar > p {
            text-align: center;
        }

        .row {
            padding-top: 30px;
        }

        .card-img-top {
            height: 60px;
            width: 60px;
            text-align: center;
            align-items: center;
        }

        .card {
            padding: 5px 5px 5px 5px;
            width: auto;
            height: auto;
        }

        .btn-primary {
            border-radius: 3rem;
            background-color: #a3e4eb;
        }

        .main-body {
            background-color: #efefef;
            margin:1rem;
        }
        .card-text {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: medium;
            color: rgb(129, 156, 220);
        }

        .card-title {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: medium;
            color: rgb(38, 30, 30);
        }

        .job-right {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .job-contents {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .job-information {
            display: flex;
            padding-right: 0%;
        }

        .job-contents > div > div {
            padding-right: 1rem;
        }

        .job-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background-color: #ffffff;
            padding: 2rem 2rem 2rem 2rem;
        }

        .job-details {
            margin: 5px;
            background-color: rgb(228, 240, 243);
            width: 275px;
            height:200px;
            padding: 1rem 1rem 1rem 1rem;
            border-radius: 2rem;
        }

        a, a:hover, a:focus, a:active {
            text-decoration: none;
            color: inherit;
        }

            .job-details:hover {
                margin: 2px;
                background-color: rgb(213, 237, 243);
                width: 285px;
            }

        .job-left > div {
            padding: .2rem 0rem 0rem 0rem;
        }

        .job-designation {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
        .job-information
        {

            font-size:14px;
        }

        .skill {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    </style>
</head>
<body>
    <div class="main-body">
        <div>
            <div class="row">
                <div class="col-md-12">	<h2>Candidate Details</h2> </div>
            </div>
            <div class="card-bar">
                <div class="card-block">
                    <div class="card" style="width: 14rem;">
                        <img class="card-img-top" src="~/images/Screenshot 2023-05-12 010119.png" alt="Candidate-logo">
                        <div class="card-body">
                            <h5 class="card-title">Total Number of Candidate applied</h5>
                            <p class="card-text">@data.total_of_candidate</p>
                            <a href="#candidate-details" class="btn btn-primary">See details</a>
                        </div>

                    </div>
                    <div class="card" style="width: 14rem;">
                        <img class="card-img-top" src="~/images/Screenshot 2023-05-12 005629.png" alt="Candidate-logo">
                        <div class="card-body">
                            <h5 class="card-title">Number of Candidate selected</h5>
                            <p class="card-text">@data.candidate_selected</p>
                            <a href="#candidate-details" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                    <div class="card" style="width: 14rem;">
                        <img class="card-img-top" src="~/images/Screenshot 2023-05-12 010414.png" alt="Candidate-logo">
                        <div class="card-body">
                            <h5 class="card-title">Number of Candidate pending</h5>
                            <p class="card-text" id="no-pending">@data.candidate_on_process</p>
                            <a href="#candidate-details" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                    <div class="card" style="width: 14rem;">
                        <img class="card-img-top" src="~/images/Screenshot 2023-05-12 010243.png" alt="Candidate-logo">
                        <div class="card-body">
                            <h5 class="card-title">Number of Candidate rejected</h5>
                            <p class="card-text">@data.candidate_Rejected</p>
                            <a href="#candidate-details" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                </div>
                <div class=bar>
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                    <script>




                        jQuery.ajax({
                            url: '@Url.Action("graphData", "ATSApplication")',
                            type: "GET",
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                var xValues = ["Selected", "pending", "rejected"];
                                var yValues = data;
                                console.log(data);
                                console.log(yValues);
                                console.log(typeof(yValues[0]));
                                console.log(typeof (data[0]));
                                var barColors = ["green", "blue", "red",];
                                new Chart("myChart", {
                                    type: "bar",
                                    data: {
                                        labels: xValues,
                                        datasets: [{
                                            backgroundColor: barColors,
                                            data: yValues
                                        }]
                                    },
                                    options: {
                                        legend: { display: false },
                                        title: {
                                            display: true,
                                            text: "Cnadidate Application Report"
                                        },


                                        responsive: true,
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }


                                    }
                                });
                            },
                            error: function (error) {
                                console.log(error)
                            }
                        });


                       </script>
                    <p>total @data.total_of_candidate</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="display:flex;">	<h2>recent jobs</h2> 
                    <button style="margin-left:2rem; margin-bottom :1rem;" class="btn btn-danger pull-right" onclick="location.href = '@Url.Action("AddJobForm","ATSApplication")'"><span class="glyphicon glyphicon-plus"></span> Add</button>
            </div>
            <div class="job-list">
                @foreach(JobDTO j in job)
                {

                    <div class="job-details" onclick="location.href = '@Url.Action("JobDetails","ATSApplication",new {id=j.Id})'">
                        <div class="job-left">
                            <div class="job-designation">
                                @j.Role
                            </div>
                            <div class="job-contents">
                                <div class="job-information">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                                            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
                                            <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <p>@j.Type</p>
                                    </div>
                                </div>
                                <div class="job-information">
                                    <div class="job-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <p>@j.Location</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="job-right">
                            <div>
                                <strong>vacannies</strong>
                                <p>@j.Vaccanies</p>
                            </div>
                            <div>
                                <strong>applied : </strong>
                                <p>@j.Applied</p>
                            </div>
                            <div>
                                <strong>selected :</strong>
                                <p>@j.Selected</p>
                            </div>
                            <div>
                                <strong>pending</strong>
                                <p>@j.OnProcess</p>
                            </div>
                        </div>
                </div>
                }
            </div>
            <div class="row">
                <div class="col-md-12">	<h2>Candidate progress</h2> </div>
            </div>
            <div class="row" id="candidate-details">
                <div class="col-md-12">
                    <div class="widget blank no-padding">
                        <div class="panel panel-default">
                            <div class="table-head-section">
                                <div class="panel-heading">
                                    <p>Individual Candidate Interview progress</p>
                                </div>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                        <th>Name</th>
                                        <th>Experience</th>
                                        <th>Key Skill</th>
                                        <th>Notice Period</th>
                                        <th>Current CTC</th>
                                        <th>Expected CTC</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(CandidateProfileData can in candidateProfile)
                                    {
                                        <tr>
                                            <td>
                                            <td>@can.Name</td>
                                            <td>2</td>
                                            @foreach(string skill in can.KeySkills)
                                            {
                                            }
                                            <td class="skill">
                                                @foreach (string skill in can.KeySkills)
                                                {
                                                    <p>@skill</p>
                                                }
                                            </td>
                                            <td>@can.Notice monthhs</td>
                                            <td>@can.CurrentCTC</td>
                                            <td>@can.ExpectedCTC</td>
                                            <td>
                                                <span class="label label-info">@can.Status</span>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" onclick="location.href = '@Url.Action("IndividualCandidateDetails","ATSApplication",new { candidateId=can.Id, jobId = can.JobId })'"><span class="glyphicon glyphicon-pencil"></span> details</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

