@using byteforzaFinalProject.DTO;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var feedback = ViewData["feedback"] as List<FeedbackPageDTO>;
}
<html>
    <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/byteforzaFinalProject.styles.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/font-awesome.min.css">
    <title>test</title>
        <style>


        .box {
            width: 400px;
            height: 15px;
            background-color: white;
            border-radius: 30px;
            display: flex;
            align-items: center;
            padding: 20px;
            border: 2px solid #000;
            margin: 1rem;
        }

            .box > i {
                font-size: 20px;
                color: #777;
            }

            .box > input {
                flex: 1;
                height: 40px;
                border: none;
                outline: none;
                font-size: 18px;
                padding-left: 10px;
            }

            .rating {
                display:flex;
            }
            .rating>p{
                margin-right:1rem;
            }
            a:hover
            {
                cursor:pointer;
            }
        .top-section
        {
            display:flex;
            justify-content:space-between;
        }

        .btn {
            background: #39b7dd;
            text-align: center;
            border-radius: 20px;
            color: #2a2929;
            cursor: pointer;
            text-transform: uppercase;
            width: auto;
            margin:1rem;
        }

        .btn-primary {
            border-radius: 3rem;
            background-color: #a3e4eb;
        }
        .main-section
        {
            padding : 1rem;
        }
    </style>
    </head>
    <body>
        <div class="main-section">
            <div>
                <div class="top-section">
                    <div class="box">

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>

                        <input type="text" id="myInput"onkeyup="myFunction()" placeholder="Search for names.."  title="Type in a name">

                    </div>
                    <div>
                    <div class="btn" id="addbbtn" onclick="location.href = '@Url.Action("AddFeedbackForm","ATSApplication")'">Add</div>
                    </div>
            </div>
            
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Job Role</th>
                            <th>interviewer</th>
                            <th>type of round</th>
                            <th>date</th>
                            <th>rating</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (FeedbackPageDTO pageFeedback in feedback)
                        {
                            <tr>
                                <td><a style="color:blue;">@pageFeedback.Name</a></td>
                                <td>
                                    @pageFeedback.Email
                                </td>
                                <td>
                                    @pageFeedback.jobName
                                </td>
                                <td>
                                    @pageFeedback.Interviewer
                                </td>
                                <td>
                                    @pageFeedback.TypeOfRound
                                </td>
                                <td>
                                    @pageFeedback.dateOnly
                                </td>
                                <td>
                                    <div class="rating">
                                        <p>@System.Math.Round(pageFeedback.RatingValue,2)</p>
                                        @for (int i = 0; i < pageFeedback.Rating; i++)
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f4f813;" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        }
                                        @if (pageFeedback.halfstar)
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f4f813;" class="bi bi-star-half" viewBox="0 0 16 16">
                                                <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z" />
                                            </svg>
                                            @for (int i = 0; i < 4 - pageFeedback.Rating; i++)
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f4f813;" class="bi bi-star" viewBox="0 0 16 16">
                                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                </svg>
                                            }
                                        }
                                        @if (!pageFeedback.halfstar)
                                        {
                                            @for (int i = 0; i < 5 - pageFeedback.Rating; i++)
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f4f813;" class="bi bi-star" viewBox="0 0 16 16">
                                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                                </svg>
                                            }
                                        }


                                    </div>
                                </td>
                                <td>
                                <a href = '@Url.Action("getFeedbackDetails","ATSApplication",new { id=pageFeedback.id })' class="btn btn-primary">See details</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
        </div>
            <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[1];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>
        </div>


    
    </body>
</html>
